@font-face {
    font-family: "Bungee Shade";
    src: url(fonts/Bungee_Shade/BungeeShade-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Frijole";
    src: url(fonts/Frijole/Frijole-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Lemonada";
    src: url(fonts/Lemonada/Lemonada-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Pacifico";
    src: url(fonts/Pacifico/Pacifico-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Permanent Marker";
    src: url(fonts/Permanent_Marker/PermanentMarker.ttf) format("truetype");
}
@font-face {
    font-family: "PT Mono";
    src: url(fonts/PT_Mono/PTM55FT.ttf) format("truetype");
}
@font-face {
    font-family: "Raleway";
    src: url(fonts/Raleway/Raleway-Regular.ttf) format("truetype");
}
html, body {
	margin: 0;
	padding: 0;
}
.intro {
	overflow: hidden;
}
.background {
	height: 100%;
	width: 100%;
	background-size: cover;
	position: absolute;
	z-index: -1;
	transition: transform 1s cubic-bezier(.24,.27,.67,.38);
}
#dystopia {
	background: url(img/dystopia.jpg) no-repeat center center fixed;
	clip-path: polygon(0 0, 0 100%, 40% 45%, 60% 55%, 100% 0, 0 0);
	-webkit-clip-path: polygon(0 0, 0 100%, 40% 45%, 60% 55%, 100% 0, 0 0);
}
#utopia {
	background: url(img/utopia.jpg) no-repeat center center fixed;
	clip-path: polygon(100% 0, 60% 55%, 40% 45%, 0 100%, 100% 100%, 100% 0);
	-webkit-clip-path: polygon(100% 0, 60% 55%, 40% 45%, 0 100%, 100% 100%, 100% 0);
}
#slide {
	width: 40%;
	height: 100%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	color: #FFF;
	transition: opacity 2s;
}
#slideContent {
	background-color: rgba(0,0,0,0.7);
	padding: 0 40px 10px 40px;
	border-radius: 15px;
}
#slide h1 {
	font-family: "Bungee Shade";
	text-align: center;
	font-size: 4rem;
	font-weight: normal;
}
#slide h2 {
	font-family: "Raleway";
	text-align: center;
	font-size: 2rem;
	font-weight: normal;
}
.bad {
	font-family: "Frijole";
}
.good {
	font-family: "Pacifico";
}
#slide button {
	font-family: "Raleway";
	font-size: 2rem;
	color: #FFF;
	background-color: rgba(0,0,0,0.3);
	border: 3px solid #000;
	margin-top: 10%;
	padding: 15px;
	opacity: 0;
	transition: opacity 2s;
}
#slide button:hover {
	cursor: pointer;
	transform: scale(1.2);
	box-shadow: 0 0 15px #FFF;
}
.content {
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: opacity 1s ease-in;
}
#communication {
	background: url(img/communication.jpg) no-repeat center center fixed;
	clip-path: polygon(10% 0, 0 100%, 90% 100%, 0 10%, 0 0);
	-webkit-clip-path: polygon(10% 0, 0 0, 0 100%, 90% 100%, 10% 0);
}
#expression {
	background: url(img/expression.jpg) no-repeat center center fixed;
	clip-path: polygon(10% 0, 90% 100%, 100% 100%, 100% 0, 10% 0);
	-webkit-clip-path: polygon(10% 0, 90% 100%, 100% 100%, 100% 0, 10% 0);
}
#title {
	width: 100%;
	height: 100%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	color: #FFF;
	transition: opacity 2s;
}
#titleContent {
	background-color: rgba(0,0,0,0.8);
	padding: 0 40px 10px 40px;
}
#title h1 {
	font-family: "PT Mono";
	font-size: 4rem;
	font-weight: normal;
	margin-bottom: 0;
}
#title h2 {
	font-family: "PT Mono";
	font-size: 2rem;
	margin-top: 0;
	font-weight: normal;
	text-align: right;
}
.goal {
	position: absolute;
	margin: 40px 60px;
	color: #FFF;
	font-family: "Permanent Marker";
	font-size: 4rem;
	text-shadow: 7px 7px 14px #000;
}
.top {
	top: 0;
	right: 0;
}
.btm {
	bottom: 0;
	left: 0;
}
#elon {
	position: relative;
	z-index: 5;
	display: none;
}
#elon img {
	float: right;
	height: 70%;
	width: auto;
	margin-top: 70%;
}
#elon img:hover {
	cursor: pointer;
	transform: scale(1.3);
}
#tesla {
	position: fixed;
	border: 20px solid #000;
	border-radius: 30px;
	height: 70%;
	width: 60%;
	text-align: center;
	margin-top: 15vh;
	margin-left: 10vw;
	padding: 10px 60px;
	background-color: #FFF;
	display: none;
	z-index: 3;
	overflow: hidden;
}
#tesla img {
	height: 60%;
	width: auto;
	display: block;
	margin: auto;
}
#tesla h1 {
	font-size: 4rem;
	font-family: "Raleway";
	text-align: left;
	margin: 30px;
}
#tesla h2 {
	font-size: 3rem;
	font-family: "Raleway";
	font-weight: normal;
}
.green {
	font-family: "Lemonada";
	color: #20EB05;
}









